body {
    background-color: #25274d;
    color: #aaabb8;
}

/* .btn-primary {
    background-color: #802bb1;
    border-color: #802bb1;
} */

/* .btn-primary :hover {
    background-color: #0c6240;
} */

.navbar {
    background-color: #aaabb8;
}

/* .link-danger {
    color: #14a76c;
}  */
